@import "./customVariables";
@import "bootstrap/scss/bootstrap.scss";

@import "./textSetting";

[v-cloak] {
  display: none;
}

html {
  overflow-y: scroll;
  background-color: $primary;
}
body {
  background-color: $primary;
}
